.people {
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5rem;
  text-align: left;
}

.people:hover {
  background-color: #f7fafc;
}

.fullName {
  font-weight: bold;
  font-size: 1.2rem;
}

.user-people {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-follow {
  border-radius: 1.5rem;
  padding: 0.35rem 1.5rem;
}
