.post {
  border-bottom: 1px solid #e0e0e0;
  padding: 1rem 0.5rem;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.75rem;
  display: flex;
}

.post:hover {
  background-color: #f7fafc;
}

.mr-1 {
  margin-right: 1rem;
}
