article {
  width: 100%;
}

.total-reactions {
  border-width: 1px 0;
  border-style: solid;
  border-color: #e0e0e0;
  padding: 0.5rem 0;
}

.reaction-count {
  font-weight: bold;
}

.reaction {
  font-size: 1rem;
}
