.App {
  font-family: Roboto, sans-serif;
  text-align: center;
}

.sw-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 1rem;
  position: fixed;
  top: 0;
  background-color: white;
  color: var(--primary-color);
}

.sw-navigation a {
  text-decoration: none;
  color: var(--primary-color);
}

main {
  position: relative;
  top: 6.5rem;
}

.width-page {
  width: 60%;
  margin: auto;
  padding: 0.5rem;
}

@media only screen and (max-width: 850px) {
  .width-page {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .width-page {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .width-page {
    width: 100%;
  }
}
